/*
======== Root ==============
*/
.root{
    mainColor: #16a085;
}

/*
    The tab bar
*/

.jfx-tab-pane .headers-region {
    -fx-background-color: mainColor;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: mainColor;
}
.jfx-tab-pane .tab-selected-line {
    -fx-background-color: rgba(44, 62, 80,0.3);
    -fx-pref-height: 5;
}
/*
=================
Tab
=================
*/
.tab {
    -fx-pref-width: 250;
    -fx-pref-height: 50;
}
/*
================== button =============
*/

.jfx-button {
     -jfx-button-type: RAISED;
     -fx-background-color: mainColor;
     -fx-text-fill: white;
     -fx-padding: 10 15;
     -fx-font-size: 16;
     -jfx-disable-visual-focus: false;
}
.button{
    -fx-font-size: 14;
}