/*
======== Root ==============
*/

.root{
    mainColor: #16a085;
}

/*
    The tab bar
*/

.jfx-tab-pane .headers-region {
    -fx-background-color: mainColor;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: mainColor;
}
.jfx-tab-pane .tab-selected-line {
    -fx-background-color: rgba(44, 62, 80,0.3);
    -fx-pref-height: 5;
}
/*
Table Cell
*/
.table-cell{
    -fx-alignment: CENTER-RIGHT;
    -fx-font-size: 14;
}
/*
Table Header
*/
.table-view .column-header .label{
    -fx-font-size: 16;
}
/*
=================
Tab
=================
*/
.tab {
    -fx-pref-width: 250;
    -fx-pref-height: 50;
}
/*
================== button =============
*/

.jfx-button {
     -jfx-button-type: RAISED;
     -fx-background-color: mainColor;
     -fx-text-fill: white;
     -fx-padding: 10 15;
     -fx-font-size: 16;
     -jfx-disable-visual-focus: false;
}
.button{
    -fx-font-size: 14;
}

/*
Top Pane
*/
.topPane{
    -fx-padding: 50 0 0 0;
}
.title-MainMenu{
}
/*
Mid Pane
*/
.midPane{
    -fx-padding: 30 0 100 0;
}
.midPane .button{
    -fx-font-size: 18;
    -fx-padding: 20 30;
}
/*
Bot Pane
*/
.botPane{
    -fx-background-color: mainColor;
}
.botPane .label{
    -fx-font-style: italic;
    -fx-text-fill: white;
    -fx-font-size: 14;
}
.botPane .title-dev{
    -fx-font-size: 16;
    -fx-padding: 0 0 7 -35;
}